<ion-header>
  <ion-toolbar>
    <ion-title>Harcama Takip Uygulaması</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Harcama Ekle</h1>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Harcama Adı</ion-label>
      <ion-input type="text" [(ngModel)]="harcamaAdi" placeholder="Harcama Adı"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Harcama Tutarı</ion-label>
      <ion-input type="number" [(ngModel)]="harcamaTutari" placeholder="0.00"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Kategori</ion-label>
      <ion-input type="text" [(ngModel)]="kategori" placeholder="Kategori"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="Kaydet()">Kaydet</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Harcama Listesi</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let harcama of harcamalar">
      <ion-item>
        <ion-label>
          <h2>{{ harcama.harcamaAdi }}</h2>
          <p>{{ harcama.kategori }}</p>
        </ion-label>
        <ion-note slot="end">{{ harcama.harcamaTutari | currency:'TRY' }}</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="Sil(harcama)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
          Sil
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <p>Harcama Toplamı: {{ HarcamaToplam | currency:'TRY' }}</p>
</ion-content>

